body {
    background-color: #ffe6fb;
    margin-top: 0;
}

.topMenu ul {
    padding: 0px;
    height: 40px;
    line-height: 30px;
    background-color: #E77CE7;
    text-align: center;
}

.topMenu li {
    width: 150px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
}

    .topMenu li:hover {
        background-color: #ffe6fb;
        padding: 5px 0;
    }

.topMenu a {
    text-decoration: none;
    color: #fff;
}
h1 {
    color: purple;
    font-family: Ariel;
    font-size: 24px;
}
fieldset fieldset {
    background-color: #da61f7;
    width: 44%;
}
form{
    width:90%;
}
label{
    color:black;
    font-family:Arial;
    font-size:15px;
}
legend {
    color: purple;
    font-family: Arial;
    font-size: 15px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E77CE7;
    text-decoration: none;
    text-align: center;
}

    footer ul {
        list-style-type: none;
    }


        footer ul li a {
            color: black;
            text-decoration: none;
        }
